.App {
  text-align: center;
}

a {
  color: teal;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.menu li {
  margin: 1vh;
  padding: 1vh;
  display: inline;
}

.menu li a {
  padding: 1vh;
  border: 1px solid black;
  width: auto;
  border-radius: 9%;
}
